<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="/">
        <div class="logo">
          <%= image_tag("home/logo.png") %>
        </div>
    </a>

    <a role="button" id="burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="outside-link-background-disappear">
      <div class="outside-link-board">
          <div class="outside-link-back">
            <i class="fas fa-angle-left"></i>
            <h2>back</h2>
          </div>
          <div class="close">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="outside-link-menu">
            <div class="outside-link-menu-title">
              <h2>Explore By App</h2>
            </div>
            <% if session[:user].blank? %>
            <div class="outside-link-item" id="outside-link-item">
              <i class="fab fa-github"></i>
              <div class="outside-link-title">
                <h2>GitHub</h2>
              </div>              
            </div>
            <div class="outside-link-item-fb ml-2" id="outside-link-item-fb">
              <i class="fab fa-facebook"></i>
              <div class="outside-link-title ml-2">
                <h2>Facebook</h2>
              </div>              
            </div>            
            <div class="outside-link-item-sladock ml-2" id="outside-link-item-sladock">
              <%# <i class="fab fa-facebook"></i> %>
              <img src="https://staging.sladock.tw/packs/media/images/Sladock_logo-4b8cc659b00eb732368742c1cb24572d.png" alt="">
              <div class="outside-link-title ml-2">
              </div>              
            </div>            
          <% end %>
        </div>
        
      </div>
      
      
      <div class="outside-link-board-integrations-disappear">
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-menu">
          <div class="outside-link-menu-title">
            <h2>Integrations</h2>
          </div>
          <div class="btn-explore">
            <h2>Explore By App</h2>
          </div>
          <div class="outside-link-item">
            <i class="fab fa-github"></i>
            <div class="outside-link-title">
              <h2>GitHub</h2>
            </div>
          </div>
       </div>
     </div>

    <div class="outside-link-board-nextpage-disappear">
      <% if(Rails.env.development?) %>
        <div class="outside-link-back-nextpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-item-nextpage">
          <i class="fab fa-github fa-github-link"></i>
          <div class="outside-link-title">
            <%= link_to "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=http://localhost:3333/oauth/redirect&scope=repo" do %>
            <div class="github-title-h2">
              GitHub
            </div>
            <% end %>
          </div>
        </div>
      <% elsif(Rails.env.production) %>
        <div class="outside-link-back-nextpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-item-nextpage">
          <i class="fab fa-github fa-github-link"></i>
            <div class="outside-link-title">
              <%= link_to "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=https://www.pmaster.tw/oauth/redirect&scope=repo" do%>
              <div class="github-title-h2">
              GitHub
              </div>
              <% end %>
            </div>
        </div>
        <% else %>
        <div class="outside-link-back-nextpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-item-nextpage">
          <i class="fab fa-github fa-github-link"></i>
            <div class="outside-link-title">
              <%= link_to "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=https://www.pmaster-staging.herokuapp.com.tw/oauth/redirect&scope=repo" do%>
              <div class="github-title-h2">
              GitHub
              </div>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>    
      
      <%#= link_to "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=http://localhost:3333/oauth/redirect&scope=repo" do %>
        <%# <div class="outside-link-back-nextpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-item-nextpage">
          <i class="fab fa-github"></i>
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div> %>
        <%# end %>

    

      <div class="outside-link-board-thirdpage-disappear">
        <div class="outside-link-back-thirdpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="context">
          <div class="context-item">
            <p>When an item is created,create an issue in <input type="text" placeholder="this repository"></input></p>
          </div>
        </div>
        <div class="outside-link-item">
          <i class="fab fa-github"></i>
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div>
        <div class="add-to-board">
          <span>add to board</span>
        </div>
        
      </div>
    </div>
    <!-- <div class="outside-link-background">
      <div class="outside-link-board">
        <div class="outside-link-back">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="outside-link-item">
          <i class="fab fa-github"></i>
          <% if(Rails.env.development?) %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=http://localhost:3333/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% else %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=https://www.pmaster.tw/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% end %>
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div>
        
      </div>
    </div> -->
    <div class="navbar-end">
    <% if session[:user].blank? %>
        <div class="navbar-item github-link-touch">
    <% else %>
        <div class="navbar-item">
    <% end %>

          <% if current_user %>
            <% if session[:user].blank? %>
              <i class="fab fa-github github-link-img"></i> 
            <% else %>
              <%= link_to '', repositories_path, class: "fab fa-github github-link-img github-login" %>
            <% end %>
          <% end %>
        </div>
      <div class="buttons">
        <% if current_user %>
          <div class="sign-in-name" data-user-id="<%= current_user.id%>">Hello, <%= current_user.display_name %></div>
          <div class="sign-in-buttons">
            <strong><%= link_to '我的任務', mytask_path %></strong>
            <strong><%= link_to '編輯帳戶', edit_user_registration_path %></strong>
            <strong><%= link_to '登出', destroy_user_session_path, method: 'delete', id: "btn-logout" %></strong>
          </div>
          <div class="arrow_icon">
            <i class="fas fa-angle-down"></i>
          </div>
        <% else %>
            <div class="sign-out-status">
              <div class="navbar-item">
                                
                <%= mail_to "pmasterproject@gmail.com", "聯絡我們", target: '_blank', class: "button is-primary" %>               
              </div>              
              <div class="navbar-item">
                <%= link_to '立刻註冊', new_user_registration_path, class: "button is-primary" %>
              </div>
              <div class="navbar-item">
                <%= link_to '我要登入', new_user_session_path, class: "button is-light sign-out-buttons" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
