<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="/">
        <div class="logo">
          <%= image_tag("home/logo.png") %>
        </div>
    </a>

    <a role="button" id="burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="outside-link-background-disappear">
      <div class="outside-link-board">
          <div class="outside-link-back">
            <i class="fas fa-angle-left"></i>
            <h2>back</h2>
          </div>
          <div class="close">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="outside-link-menu">
            <div class="outside-link-menu-title">
              <h2>Explore By App</h2>
            </div>
            <div class="btn-integrations">
              <h2>Integrations</h2>
            </div>
            <div class="outside-link-item" id="outside-link-item">
              <i class="fab fa-github"></i>
              <div class="outside-link-title">
                <h2>GitHub</h2>
              </div>
            </div>
        </div>
        
      </div>
      
      
      <div class="outside-link-board-integrations-disappear">
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-menu">
          <div class="outside-link-menu-title">
            <h2>Integrations</h2>
          </div>
          <div class="btn-explore">
            <h2>Explore By App</h2>
          </div>
          <div class="outside-link-item">
            <i class="fab fa-github"></i>
            <div class="outside-link-title">
              <h2>GitHub</h2>
            </div>
          </div>
       </div>
     </div>

    
      <div class="outside-link-board-nextpage-disappear">
        <div class="outside-link-back-nextpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="outside-link-item-nextpage">
          <i class="fab fa-github"></i>
          <!-- <% if(Rails.env.development?) %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=http://localhost:3333/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% else %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=https://www.pmaster.tw/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% end %> -->
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div>
        
      </div>

      <div class="outside-link-board-thirdpage-disappear">
        <div class="outside-link-back-thirdpage">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="context">
          <div class="context-item">
            <p>When an item is created,create an issue in <input type="text" placeholder="this repository"></input></p>
          </div>
        </div>
        <div class="outside-link-item">
          <i class="fab fa-github"></i>
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div>
        <div class="add-to-board">
          <span>add to board</span>
        </div>
        
      </div>
    </div>
    <!-- <div class="outside-link-background">
      <div class="outside-link-board">
        <div class="outside-link-back">
          <i class="fas fa-angle-left"></i>
          <h2>back</h2>
        </div>
        <div class="outside-link-item">
          <i class="fab fa-github"></i>
          <% if(Rails.env.development?) %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=http://localhost:3333/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% else %>
            <%= link_to ' ', "https://github.com/login/oauth/authorize?client_id=#{ENV["gitclientid"]}&=https://www.pmaster.tw/oauth/redirect&scope=repo",  class: "navbar-item hamburger-item github-link"%>
          <% end %>
          <div class="outside-link-title">
            <h2>GitHub</h2>
          </div>
        </div>
        
      </div>
    </div> -->
    <div class="navbar-end">
        <div class="navbar-item github-link-touch">
          <% if current_user %>
          <i class="fab fa-github github-link-img"></i>
          <% end %>
        </div>
      
      <div class="buttons">
        <% if current_user %>
          <div class="sign-in-name" data-user-id="<%= current_user.id%>"><p> Hello, <%= current_user.display_name %></p></div>
          <div class="sign-in-buttons">
            <strong><%= link_to '我的任務', mytask_path %></strong>
            <strong><%= link_to '編輯帳戶', edit_user_registration_path %></strong>
            <strong><%= link_to '登出', destroy_user_session_path, method: 'delete', id: "btn-logout" %></strong>
          </div>
          <div class="arrow_icon">
            <i class="fas fa-angle-down"></i>
          </div>
        <% else %>
            <div class="sign-out-status">
              <div class="navbar-item">
                <%= link_to '聯絡我們', root_path, class: "button is-primary" %>               
              </div>              
              <div class="navbar-item">
                <%= link_to '立刻註冊', new_user_registration_path, class: "button is-primary" %>
              </div>
              <div class="navbar-item">
                <%= link_to '我要登入', new_user_session_path, class: "button is-light sign-out-buttons" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
