<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chatroom-input">
    <%= form.text_field :content, class: 'text-input', placeholder: "請在這輸入..." %>
    <%= form.hidden_field :room_id, value: room.id %>

   <div class="btn">
    <%= form.button "送出" %>
  </div>
  </div>

    
<% end %>
