<div id="user-id" data-user-id="<%= current_user.id %>"></div>
    <div class="container">
      <div class="row chatbox">
        <div class="channelbox">
          <%= render 'rooms/form', room: Room.new %>
            <%# <% @rooms.each do |room| %> 
              <%# <%= link_to room do %> 
              <!-- <div class="channel">
              <%= @room.name %>
              </div>
                <small><%= @room.users.uniq.count %>member</small>
              <div id="room-id">
                <%= @room.id %>
              </div> -->
              <%# <% end %> 
            <%# <% end %> 
        </div>
         <div class=" messagesbox">
           <% if @room.present? %>
              
              <div class="chatcontent-box" data-room-id="<%= @room.id %>">
                <div class="chatroom-lebal" typ='button'>
                  <i class="far fa-comments"></i>
                  <h2>
                    <%= @room.name %>
                  </h2>
                </div>
                <div class="chatroom-group">
                  
                  <div id="messages">
                    <div id="prev-messages">
                      <%= link_to '', messages_room_path(@room, page: 1), remote: true %>
                    </div>
                    <!-- @room, page: 1,預設為第一頁，按下load message載入下一頁訊息 -->
                    <% @room.messages.order(created_at: :desc).limit(5).reverse.each do |message| %>
                      <%= render '/messages/message', message: message  %>
                    <% end %>

                  </div>
                  
                </div>
                <div class="chatroom">
                  <%= render '/messages/form', message: Message.new, room: @room  %>
                </div>
              </div>
              
              
            <% end %>
         </div>
          
      </div>

    </div>