<div class="tile is-parent main-dashboard" data-turbolinks="false" data-workspace-name="<%= @workspace_name %>">
  <article class="tile is-child notification main-board">
    <div class="group-list-and-add-icon-for-group my-3">
      <span class="my-2">主題列表 </span>
      <%= link_to '', new_board_group_path, class:"fas fa-plus-square text-lg rounded text-center" , style:"text-decoration: none; color: #59825A" %>
    </div>
    <div class="content group-item-list" data-board-id="<%= @board.id%>">
      <ul class="task-list">
        <% @groups.each do |group| %>
          <li class="item-group-li" data-group-list-id="<%= group.id %>">
            <div class="item-group-li-box">
              <div class="item-group-li-p-title" id="<%= group.id %>" ><%= group.name %></div>
              <div class="item-group-li-p-icon">
              	<%= link_to '', edit_group_path(group), class: "far fa-edit" , style:"text-decoration: none;"%>
              	<%= link_to '', group_path(group), method: 'delete', data: {confirm: '您確定要刪除這個主題嗎?'}, class: "rounded text-center far fa-trash-alt" %>
                <%= link_to '', charts_group_path(group), class: "px-3 py-1 bg-orange-300 text-white rounded text-center far fa-chart-bar", style:"text-decoration: none;" if group.has_chart? %>   
              </div>
            </div>
            <ul class="group-item-task-list">
              <% if group.items.present? %>
                <li class="item-group-top-title rounded-t">
                  <div class="item-board-left item-name-top">項目名稱</div>
                  <div class="item-post-column item-post"></div>
                  <div class="item-person">負責人</div>
                  <div class="item-description-top">項目敘述</div>
                  <div class="item-point">點數</div>                      
                  <div class="item-due-date">到期日</div>
                  <div class="item-finish">完成日</div>                      
                  <div class="item-board-right item-status">進度</div>
                </li>
              <% end %>
              <% @items.each do |item| %>
                <% if group.id == item.group_id %>
                  <li class="items-task is-hoverable" data-item-id="<%= item.id %>" id="items-task-<%= item.id %>">
                    <div class="task-first-lattice">
                      <div class="task-arrow">
                        <i class="fas fa-caret-right"></i>
                      </div>
                      <div class="edit-delete-task">
                        <%= link_to '', edit_item_path(item), class: "far fa-edit", style:"text-decoration: none;" %>
                        <%= link_to '', item_path(item), method: "DELETE", data: { confirm: '您確定要刪除這個項目嗎?' }, class: "far fa-trash-alt", style:"text-decoration: none;" %>
                      </div>
                      <Input type="text" class="item-name" data-item-id="<%= item.id %>" id="item-name-<%= item.id %>" data-item-name="<%= item.name %>" value="<%= item.name %>" style="background-color:#EFF4EF;">
                    </div>

                    <div class="post-icon-and-counts item-post">
                      <%= link_to "", posts_item_path(item), remote: true, id:"post-icon-id-#{ item.id }" ,class:"postIcon far fa-comment-dots", style:"text-decoration: none;" %>
                      <% if (item.posts.count > 0) %>
                        <span id="item-id-<%= item.id %>-of-posts-counts" class="posts-counts"><%= item.posts.count %></span>
                      <% end %>
                    </div>

                    <div class="item-person">
                      <% @assignments.each do |assignment| %>
                        <% if assignment.item_id == item.id %>
                          <span class= "mr-3"><%= User.find(assignment.user_id).display_name %></span>
                        <% end %>
                      <% end %>
                    </div>

                    <input type="text" class="item-description" data-item-id="<%= item.id %>" id="item-description-<%= item.id %>" data-item-description="<%= item.description %>" value="<%= item.description %>" style="background-color:#EFF4EF;" >

                    <div class="item-point"><%= item.point %></div>

                    <% if item.due_date != nil && item.status != "已完成" %>
                      <% if (item.due_date - Date.current).to_i == 0 %>
                        <div class="item-due-date">今日內完成</div>
                      <% elsif (item.due_date - Date.current).to_i > 0 %>
                        <div class="item-due-date" style="color: green">剩餘 <%= (item.due_date - Date.current).to_i%> 天</div>
                      <% else (item.due_date - Date.current).to_i < 0 %>
                        <div class="item-due-date" style="color: red">逾時 <%= (item.due_date - Date.current).to_i * -1%> 天</div>
                      <% end %>
                    <% else %>
                      <div class="item-due-date"></div>
                    <% end %>

                    <div class="item-finish"><%= item.finish_date %></div>                        
               
                    <div class="item-status">
                      <%= csrf_meta_tag %>
                      <%= select_tag( item.id , options_for_select([['待指派', '待指派'], ['進行中', '進行中'], ['卡關中', '卡關中'],['待修改', '待修改'],['已完成', '已完成']], item.status)) %>
                    </div>
                  </li>
                <% end %>
              <% end %>
              <li class="add-item rounded-b">
                <%= link_to ' 新增項目', new_group_item_path(group.id), class:"fas fa-plus-square add-item-icon", style:"display:block; height:100%;text-decoration: none;" %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    
  </article>
  
  <div class="chatroombox">
    <%= render '/workspaces/rooms', message: Message.new, room: @room %>
  </div>
  <div class="who-online">
    <div class="user_online">
      <div>
        <i class="fas fa-user"></i>
      </div>
      <h2>線上成員</h2>
    </div>
    <%  @online_users.each do |user| %>
    <ul class="online-user">
      <li user-id="<%= user.id %>"><%= user.display_name %><span>Online</span></li>
    </ul>
    <% end %>
  </div>
  <div id="posts-block" class="posts-block rounded"></div>
  <div class="footer">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
</div>
  
