<div class="tile is-parent main-dashboard">
  <article class="tile is-child notification bg-green-200">
    <p class="title text-md main-board-title">看板：<%= @board.name %></p>
    <div class="my-3">
      <span class="subtitle my-2 ">主題列表</span>
      <%= link_to ' 新增主題', new_board_group_path, class:"fas fa-plus-square px-3 py-1 mb-2 bg-red-100 text-white rounded text-center" , style:"text-decoration: none;"%>
    </div>
    <div class="content">
      <div class="group-item-list">
        <ul class="pr-5">
          <% @groups.each do |group| %>
            <li class="mx-5 mt-2 mb-4" data-group-id="<%= group.id %>">
              <p class="bg-yellow-100 block p-2 rounded-t-md">。
                <%= group.name %>
                <%= link_to '', edit_group_path(group), class: "px-3 py-1 bg-orange-300 text-white rounded text-center far fa-edit" , style:"text-decoration: none;"%>
                <%= link_to '', group_path(group), method: 'delete', data: {confirm: '您確定要刪除這個主題嗎?'}, class: "px-3 py-1 bg-orange-300 text-white rounded text-center far fa-trash-alt" %>
              </p>
              <table class="table rounded-b-md">
                <% if group.items.present? %>
                  <thead>
                    <tr class="bg-gray-200">
                      <th>項目名稱</th>
                      <th>留言</th>
                      <th>負責人</th>
                      <th>項目敘述</th>
                      <th>到期日</th>
                      <th>進度</th>
                    </tr>
                  </thead>
                <% end %>
                <tbody>
                  <% @items.each do |item| %> 
                    <% if group.id == item.group_id %>
                      <tr class="items-task is-hoverable" data-item-id="<%= item.id %>">
                        <td>
                          <%= link_to '', edit_item_path(item), class: "far fa-edit", style:"text-decoration: none;" %>
                          <span class="item-name" id="item-id-<%= item.id %>"><%= item.name %></span>
                        </td>
                        <td>
                          <%= link_to "", posts_item_path(item), remote: true, class:"postIcon far fa-comment-dots", data:{turbolinks: false}, style:"text-decoration: none;" %>
                        </td>
                        <td class="item-person">
                          <% @assignments.each do |assignment| %>
                            <% if assignment.item_id == item.id %>
                              <span class= "mr-3"><%= User.find(assignment.user_id).display_name %></span>
                            <% end %>
                          <% end %>
                        </td>
                        <td class="item-description"><%= item.description %></td>
                        <% if item.due_date != nil %>
                          <% if (item.due_date - Date.current).to_i == 0 %>
                            <td class="item-due-date">今日內完成</td>
                          <% elsif (item.due_date - Date.current).to_i > 0 %>
                            <td class="item-due-date" style="color: green">剩餘 <%= (item.due_date - Date.current).to_i%> 天</td>
                          <% else (item.due_date - Date.current).to_i < 0 %>
                            <td class="item-due-date" style="color: red">逾時 <%= (item.due_date - Date.current).to_i * -1%> 天</td>
                          <% end %>
                        <% else %>
                          <td class="item-due-date"></td>
                        <% end %>
                        <td><span class="item-status rounded-md"><%= item.status %></span></td>
                      </tr>
                    <% end %>
                  <% end %>
                  <tr>
                    <td colspan="6" class="bg-gray-200 rounded-b" style="width:100%;height:100%;">
                      <%= link_to ' 新增項目', new_group_item_path(group.id), class:"fas fa-plus-square", style:"display:block; height:100%;text-decoration: none;" %>
                    </td>
                  </td>
                </tbody>
              </table>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
  </article>
  
  <div class="chatroombox">
    <%= render '/workspaces/rooms', message: Message.new, room: @room %>
  </div>
  <div class="who-online">
    <h2>Online Users</h2>
    <%  @online_users.each do |user| %>
    <ul class="online-user">
      <li user-id="<%= user.id %>"><%= user.display_name %><span>Online</span></li>
    </ul>
    <% end %>
  </div>

</div>
  
<div id="posts-block" class="posts-block rounded"></div>