<div class="tile is-parent main-dashboard">
  <article class="tile is-child notification bg-green-200">
    <p class="title text-md">看板：<%= @board.name %></p>
    <p class="subtitle my-2 ">群組列表</p>
    <%= link_to '新增群組', new_board_group_path, class:"px-3 py-1 mb-2 bg-green-400 text-white rounded text-center" %>
    <%= link_to '工作聯絡室', rooms_workspace_path(@workspace) %>
    <div class="content">
      <p class="group-name">
        <ul>
          <% @groups.each  do |group| %>
            <li class="mx-5 my-2">
              <p class="bg-gray-200 block p-2 rounded-md">。<%= link_to group.name, group_items_path(group)%></p>
              <%= link_to ' 編輯', edit_group_path(group), class: "px-3 py-1 mb-2 bg-orange-500 text-white rounded text-center far fa-edit" %>
            </li>
          <% end %>
          </ul>
      </p>
    </div>
    
  </article>
</div>
