<div class="tile is-parent main-dashboard">
  <article class="tile is-child notification bg-green-200">
    <p class="title text-md">看板：<%= @board.name %></p>
    <p class="subtitle my-2 ">群組列表</p>
    <%= link_to '新增群組', new_board_group_path %>
    <div class="content">
      
      <p class="group-name">
        <ul>
          <% @groups.each  do |group| %>
            <li class="mx-5 my-2">
              <p class="bg-gray-200 block p-2 rounded-md">。<%= group.name %></p>
            </li>
          <% end %>
          </ul>
      </p>
    </div>
    <div id="user-id" data-user-id="<%= current_user.id %>"></div>
    <div class="container">
      <div class="row chatbox">
        <div class="channelbox">
          <%= render 'rooms/form', room: Room.new %>
            <% @rooms.each do |room| %>
              <%= link_to room do %>
              <div class="channel">
              <%= room.name %>
              </div>
                <small><%= room.users.uniq.count %>member</small>
              <div id="room-id">
                <%= room.id %>
              </div>
              <% end %>
            <% end %>
        </div>
         <div class=" messagesbox">
           <% if @room.present? %>
              <h2>
                <%= @room.name %>
              </h2>
              <div class="chatcontent-box" data-room-id="<%= @room.id %>">
                <div id="messages">
                  <% @room.messages.each do |message| %>
                    <%= render '/messages/message', message: message  %>
                  <% end %>
                </div>
              </div>
              
              <div class="chatroom">
                <%= render '/messages/form', message: Message.new, room: @room  %>
              </div>
            <% end %>
         </div>
      </div>
    </div>
  </article>
</div>
