<div class="new-item-page">
<h1 class="new-item-title">新增主題 New Group</h1>

<% if @group.errors.any? %>
  <ul>
  <% @group.errors.full_messages.each do |message| %>
  <li><p class="text-red-600 mx-2">。<%= message %></p></li>
  <% end %>
  </ul>
<% end %>
  <div class="item-wrap">
    <div class="item-object-group">
      <div class="group-card">
        <%= form_with(model: @group, url: board_groups_path, local: true) do |f| %>
          <%= f.label :name, "主題名稱", class: "item-label" %>
          <%= f.text_field :name, class: 'border-2 px-2 py-3 mt-4 group-input', autocomplete:"off" %>
          <%= f.submit '新增', class: 'new-item-submit mt-4 ml-2 px-3 py-1 bg-green-400 text-white block w-32 rounded text-center' %>    
        <% end %>
      </div>
    </div>
    <div class="advertising">
      <h2>Pmaster 最信賴的夥伴</h2>
      <div class="img">
        <%= image_tag 'home/pmaster_home.png' %>
      </div>
    </div>
  </div>
  <div class="footer-edit">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
</div>