<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        重新申請密碼
      </h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請填寫您的信箱", class: "input is-success" %>
        </div>

        <div class="actions">
          <%= f.submit "寄給我重設密碼email", class: "button is-danger"  %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>


