<div class="tile is-parent main-dashboard" data-turbolinks="false" data-workspace-name="<%= @workspace_name %>">
  <article class="tile is-child notification main-board">
    <div class="my-3">
      <span class="subtitle my-2 ">我的任務</span>
    </div>
    <div class="content">
      <div class="group-item-list">
        <% if @items.count < 1 %>
          <h1>您目前沒有任務要進行</h1>
        <% else %>
          <!-- <div class="content group-item-list" data-board-id="<%#= @board.id%>"> -->
              
            <ul class="mytask-group-item-task-list">
              <li class="mytask-item-group-top-title rounded-t">
                <div class="mytask-item-board-left my-taskitem-name-top">項目名稱</div>
                <div class="mytask-item-description">項目敘述</div>
                <div class="mytask-item-due-date">到期日</div>
                <div class="mytask-item-finish">完成日</div>                      
                <div class="mytask-item-board-right item-status">進度</div>
              </li>
              <% @items.each do |item| %>
                <% if item.status != "已完成" %>
                  <li class="mytask-items-task is-hoverable" data-item-id="<%= item.id %>" id="items-task-<%= item.id %>">
                    <div class="mytask-task-first-lattice">
                      <div class="mytask-item-name" data-item-name="<%= item.name %>">
                        <%= link_to item.name, board_groups_path(Group.find(item.group_id).board_id)%>
                      </div>
                    </div>

                    <div class="mytask-item-description" data-item-description="<%= item.description %>">
                      <% if item.name.length>15 %>
                        <%= item.description[0..14] %>...
                      <% else %>
                        <%= item.description %>
                      <% end %>
                    </div>

                    <% if item.due_date != nil && item.status != "已完成" %>
                      <% if (item.due_date - Date.current).to_i == 0 %>
                        <div class="mytask-item-due-date">今日內完成</div>
                      <% elsif (item.due_date - Date.current).to_i > 0 %>
                        <div class="mytask-item-due-date" style="color: green">剩餘 <%= (item.due_date - Date.current).to_i%> 天</div>
                      <% else (item.due_date - Date.current).to_i < 0 %>
                        <div class="mytask-item-due-date" style="color: red">逾時 <%= (item.due_date - Date.current).to_i * -1%> 天</div>
                      <% end %>
                    <% else %>
                      <div class="mytask-item-due-date"></div>
                    <% end %>

                    <div class="mytask-item-finish"><%= item.finish_date %></div>                        
               
                    <div class="mytask-item-status">
                      <%= item.status %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
  </article>
  <div class="footer">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
</div>