<div class="tile is-parent main-dashboard" data-turbolinks="false" data-workspace-name="<%= @workspace_name %>">
  <article class="tile is-child notification main-board">
    <div class="my-3">
      <div class="subtitle my-2 ">我的任務</div>
      <button onclick="window.history.back()">回上一頁</button>
    </div>
    <div class="content">
      <div class="mytask-group-item-list">
        <% if @items.count < 1 %>
          <p>您目前沒有任何項目</p>
        <% else %>
            <div class="mytask-btn-for-status">
              <div class="mytask-btn btn-pending" status="pending">待修改</div>
              <div class="mytask-btn btn-working" status="working">進行中</div>
              <div class="mytask-btn btn-stuck" status="stuck">卡關中</div>
              <div class="mytask-btn btn-done" status="done">已完成</div>
            </div>

            <div class="mytask-type pending is-active-for-mytas" status="pending">
              <% if @pending != []%>
                <ul>
                  <% @pending.each do |pending| %>
                    <li class="have-item" id="pending-item-id-<%= pending.id %>" data-pending-item="<%= pending.id%>">
                      <i class="fas fa-dot-circle"></i>
                      <div class="mytask-tab-item-name"><%= link_to pending.name, board_groups_path(Group.find(pending.group_id).board.friendly_id)%></div>
                      <div class="mytask-tab-item-description"><%= pending.description %></div>
                      <div class=" mytask-tab-item-date"><%= pending.due_date %></div>
                      <div class="item-td">
                        <%= csrf_meta_tag %>
                        <%= select_tag( pending.id, options_for_select([['待指派', '待指派'], ['進行中', '進行中'], ['卡關中', '卡關中'],['待修改', '待修改'],['已完成', '已完成']], pending.status),class:"item-status-option mytask-status-select") %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% elsif %>
                <ul>
                  <li class="no-item">您沒有待修改的項目</li>
                </ul>
              <% end %>
            </div>

            <div class="mytask-type working is-removed-for-mytask" status="working">
              <% if @working != [] %>
                <ul>
                  <% @working.each do |working| %>
                    <li class="have-item">
                      <i class="fas fa-dot-circle"></i>
                      <div class="mytask-tab-item-name"><%= link_to working.name, board_groups_path(Group.find(working.group_id).board.friendly_id)%></div>
                      <div class="mytask-tab-item-description"><%= working.description %></div>
                      <div class="mytask-tab-item-date"><%= working.due_date %></div>
                      <div class="item-td">
                        <%= csrf_meta_tag %>
                        <%= select_tag( working.id, options_for_select([['待指派', '待指派'], ['進行中', '進行中'], ['卡關中', '卡關中'],['待修改', '待修改'],['已完成', '已完成']], working.status),class:"item-status-option mytask-status-select") %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% elsif %>
                <ul>
                  <li class="no-item">您沒有進行中的項目</li>
                </ul>
              <% end %>
            </div>

            <div class="mytask-type stuck is-removed-for-mytask" status="stuck">
              <% if @stuck != [] %>
                <ul>
                  <% @stuck.each do |stuck| %>
                    <li class="have-item">
                      <i class="fas fa-dot-circle"></i>
                      <div class="mytask-tab-item-name"><%= link_to stuck.name, board_groups_path(Group.find(stuck.group_id).board.friendly_id)%></div>
                      <div class="mytask-tab-item-description"><%= stuck.description %></div>
                      <div class="mytask-tab-item-date"><%= stuck.due_date %></div>
                      <div class="item-td">
                        <%= csrf_meta_tag %>
                        <%= select_tag( stuck.id, options_for_select([['待指派', '待指派'], ['進行中', '進行中'], ['卡關中', '卡關中'],['待修改', '待修改'],['已完成', '已完成']], stuck.status),class:"item-status-option mytask-status-select") %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% elsif %>
                <ul>
                  <li class="no-item">您沒有卡關中的項目</li>
                </ul>
              <% end %>
            </div>

            <div class="mytask-type done is-removed-for-mytask" status="done">
              <% if @done != [] %>
                <ul>
                  <% @done.each do |done| %>
                    <li class="have-item">
                      <i class="fas fa-dot-circle"></i>
                      <div class="mytask-tab-item-name"><%= link_to done.name, board_groups_path(Group.find(done.group_id).board.friendly_id)%></div>
                      <div class="mytask-tab-item-description"><%= done.description %></div>
                      <div class="mytask-tab-item-date"><%= done.finish_date %></div>
                      <div class="item-td">
                        <%= csrf_meta_tag %>
                        <%= select_tag( done.id, options_for_select([['待指派', '待指派'], ['進行中', '進行中'], ['卡關中', '卡關中'],['待修改', '待修改'],['已完成', '已完成']], done.status),class:"item-status-option mytask-status-select") %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% elsif %>
                <ul>
                  <li class="no-item">您沒有已完成的項目</li>
                </ul>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </article>
  <div class="footer">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
</div>