<h1 class="text-xl px-2 py-2">編輯項目 Edit Item</h1>

<div class="mx-5 my-5">
  <%= form_with(model: @item, local: true) do |f| %>
    <%= f.label :name, "編輯標題" %>
    <%= f.text_field :name, class: 'border-2 px-2 py-3' %>
    <%= f.submit '編輯完成', class: 'mt-4 ml-2 px-3 py-1 bg-orange-400 text-white block w-32 rounded text-center' %>
  <% end %>

  <%= link_to '刪除項目', item_path(@item.id), method: 'delete', data: {confirm: '您確定要刪除這個項目嗎?'}, class: "delete-link mt-4 ml-2 px-3 py-1 bg-red-500 block w-32 text-white rounded text-center"%>
</div>