<div class="tile is-parent main-dashboard">
  <article class="tile is-child notification bg-green-200">
    <p class="title text-md">群組：<%= @group.name %></p>
    <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  		<ul>
				<span>目前位置：</span>
    		<li><%= link_to @board.name, board_groups_path(@board) %></li>
    		<li><%= @group.name %></li>
  		</ul>
		</nav>
    <p class="subtitle my-2 ">項目列表</p>
    <%= link_to "新增項目", new_group_item_path, class:"px-3 py-1 mb-2 bg-green-400 text-white rounded text-center" %>
    <div class="content">
      <p class="group-name">
        <ul>
          <% @items.each  do |item| %>
            <li class="mx-5 my-2">
              <div class="bg-gray-200 block p-2 rounded-md">
                <span>。
                  <%= item.name%><%= "--item_id #{item.id}"%>
                  <%#= link_to 'Label', root_url, :data => { :id => item.id, :name => item.name } %>
                  <%#= content_tag(:div, "Some Text", id: "postItem", data: { attr: some_variable }) %>
                  <a id="postIcon" class="far fa-comment-dots ml-3" data-item-id="<%= item.id %>"></a>
                </span>
                <span>
                  <%= item.description %>
                </span>
                <span>
                  <%= item.due_date %>
                </span>
                <span class='status'>
                  <%= item.status %>
                </span>
                <%= render 'shared/frontend/post_modal', item: @item, post: Post.new %>
              </div>
              <%= link_to ' 編輯', edit_item_path(item), class: "px-3 py-1 mb-2 bg-orange-500 text-white rounded text-center far fa-edit" %>
            </li>
          <% end %>
          </ul>
      </p>
    </div>
  </article>
</div>
