<!doctype html>
<html lang="en">
  <head>
  <title>PMasterProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <style>
       /* html{
         font-size: 0;
        } */
    </style>
  </head>
  <body> 
    <%= render "shared/frontend/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    
    <%= yield %>
    
    
    <%= render "shared/frontend/footer" %>
    
  </body>
</html>
