<!doctype html>
<html lang="en">
  <head>
  <title>PMasterProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body> 
    <%= render "shared/frontend/navbar" %>
    <%= render "shared/frontend/flash" if notice %>
    <% if current_user && params[:controller]!="devise/registrations" %>
      <div class="tile is-ancestor mx-1 my-2 tile-dashboard">
        <%= render "shared/frontend/sidebar"%>
        <%= yield %>
      </div>
    <% else %>
        <%= yield %>
    <% end %>

    <%= render "shared/frontend/footer" %>
    
  </body>
</html>
