<!doctype html>
<html lang="en">
  <head>
  <title>PMasterProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body> 
    <%= render "shared/frontend/navbar" %>
    <%= render "shared/frontend/flash" if notice %>
    <%= render "shared/frontend/sidebar" if current_user %>
    <%= yield %>
    
    <%= render "shared/frontend/footer" %>
    
  </body>
</html>
